/*************************
Estilos para más de 981px
**************************/

/*
----------------------------------
Títulos
----------------------------------
*/
H1, H2, H3, H4, H5, H6 {

}

H1 {

}

H2 {

}

H3 {

}

/*
----------------------------------
Bloques --> DIV y P
----------------------------------
*/
DIV {

}

P {

}

/*************************
       cajaSerpiente
**************************/
#cajaSerpiente {
	width: 500px;
	height: 500px;
}

/*************************
      cajaPuntuacion
**************************/
#cajaPuntuacion {
	width: 100px;
	height: 30px;
}

/*************************
      cajaTiempo
**************************/
#cajaPuntuacion {
	width: 100px;
	height: 30px;
}

/*************************
          FOOTER
**************************/
