/*************************
    ESTILOS GENERALES
**************************/

/*
-Colores para el tema:
	·Morado --> #493B4C
	·Azul Oscuro --> #1D415B
	·Rojo Claro --> #C73935
	·Amarillo Oscuro --> #E69215
*/

* {
	margin: 0;
	padding: 0;
}


BODY {
	background-image: url("../images/fondo.png");
}

/*
----------------------------------
Títulos
----------------------------------
*/
H1, H2, H3, H4, H5, H6 {

}

H1 {

}

H2 {

}

H3 {

}

/*
----------------------------------
Bloques --> DIV y P
----------------------------------
*/
DIV {

}

P {

}

/*************************
       cajaSerpiente
**************************/
#cajaSerpiente {
	margin: auto;
}

/*************************
      cajaPuntuacion
**************************/
#cajaPuntuacion {
	margin: auto;
}

/*************************
          FOOTER
**************************/
FOOTER {
	width: 100%;
	height: 80px;
	color: #c73935;
	background-color: #1d415b;
}
